language: python
python: 
  - "3.6"
  
install: 
  - "pip install -r requirements.txt"
  - "pip install coveralls"

script: 
  - "nosetests --with-coverage --cover-test"
  - "coverage report"
after_success: 
  - coveralls
  - codeclimate-test-reporter
  